<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
    <style>
        .container{
            background:wheat;
            max-width: 550px;
            margin: auto;
            margin-top: 70px;
            padding: 10px;
        }
        .hearder{
            background: wheat;
        }
        .detail-title{
            width: 90%;
            
        }
        .detail-des{
            width: 90%;
            height: 200px;
            margin-bottom: 33px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/"><h3>back</h3></a>
        </div>
        <form action="post">
            <label>title</label><br>
            <input class="detail-title" name="title" type="text" style=" margin-bottom: 33px;"><br>

            <label style="margin-top: 5px;" name="des" >Description</label><br>
            <input class="detail-des" type="text"><br>

            <label>complete</label>
            <input type="checkbox"  id="" style="padding: 0; margin: 0;"><br>

            <button type="submit">summit</button><br>

        </form>
    </div>
    
</body>
</html>